/* basic setup */
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.3;
}

ul li {
	list-style-type: none;
}

/*heading*/
h1 {
	font-size: 4.2rem;
	color: #fff;
	
}

h2::after {
	content: "";
	display: block;
	height: .4rem;
	background: #14a58c;
	width: 8.5rem;
	margin: auto;
	margin-top: 2rem;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* reusable components */
.row {
	max-width: 114rem;
	margin: 0 auto;
}

h2 {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 2rem;
	padding-top: 7rem;
	color: #fff;
	text-align: center;

}

h3 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 600;
}

.box {

}

.box p {
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2rem;

}

/*button*/
.btn:link,
.btn:visited,
.btn {
	background: #333;
	border-bottom: .3rem solid #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 6rem;
	border-radius: .3rem;
	display: inline-block;
	margin-top: 4.5rem;
	font-size: 1.6rem;


}

/*little description*/
.little-description {
	font-size: 1.8rem;
	width: 60%;
	margin-left: 20%;
	line-height: 3rem;

}

/*header section*/
header {
	background:linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)), url(img/hero-bg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 85vh;
	position: relative;
}

.logo {
	height: 3.5rem;
	width: auto;
	margin-top: 3.5rem;
	float: left;
}

/*main navigation*/
.main-nav {
	float: right;
	margin-top: 4rem;
}

.main-nav li {
	display: inline-block;
	margin-left: 1rem;	
}

.main-nav li:first-child {
	margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(100, 58, 121, 0);
	padding: 0.6rem 1.6rem;
	border-radius: .3rem;
	display: inline-block;
	font-size: 1.6rem;
	transition: .3s;


}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
	background: rgba(100, 58, 121, 1);

}
.active {
	background: rgba(100, 58, 121, 1);
	border-radius: 3px;
}

.hero-text-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
	background: #eb7d4b;
	border-color: #c86a40;
}

/*services section*/

.services-section {
	color: #fff;
	background:linear-gradient(rgba(23, 194, 164, 0.9),rgba(23, 194, 164, 0.9)), url(img/services-bg.jpg);
	text-align: center;

}
.servics-icon {
	height: 12rem;
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
}

/*team section*/
.team-section {
	background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)), url(img/team-bg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	text-align: center;
	background-position: center center;
	background-attachment: fixed;
	
}

.team-section h2 {
	color: #3c4761;
}

.team-member {
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
}

.team-section h3 {
	color: #27283d;
}

.role {
	color: #48c1e9;
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-top: .5rem;
}

.social-link {
	margin-top: 4.5rem;
}

.social-link ul li {
	display: inline-block;
	margin: 0 .5rem;
}

.social-link ul li a:link {
	color: #fff;
}

.social-link ul li a:link i::before {
	background: #bdd1df;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	font-size: 2rem;
	padding: 1rem;
	transition: .5s;
}

.social-link ul li a:hover i::before {
	background: #bdd1df;
	transform: rotate(360deg);
}